RewriteEngine on

# Se um diretório ou um arquivo existir, use-o diretamente
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Caso contrário, encaminhe para index.php
RewriteRule . index.php
